//Personalizando el tipo de letra
$font-family-sans-serif: 'Roboto', sans-serif;

// scss-docs-start theme-color-variables color de texo
$primary: #5265E1;
$danger:  #FA5959;
// scss-docs-start accordion-variables
$accordion-button-icon:         url("../Imagenes/icon-arrow.svg");
$accordion-button-active-icon:  url("../Imagenes/icon-arrow.svg");
// scss-docs-end accordion-variables

.primerFondo, .segundoFondo, .arrow{
  position: relative;
}
/*CSS del badge de la primera seccion*/
.fondo1{
  position: absolute;
  right: 50px;
  bottom:10px;
  top:130px;
  left:90px;
  z-index:-30;
}
/*CSS del badge de la tercera seccion*/
.fondo2{
  position: absolute;
  bottom:30px;
  top:120px;
  left:-110px;
  right:70px;
  z-index:-30;
}
/*CSS del badge*/
.primerFondo img, .segundoFondo img{
  width: 90%;
}
/*CSS del button  de Bookmark*/
#btnBookmark{
  display: none;/*desaparece*/
}

/********************** CSS TABLET ****************************************/
@media(min-width:767px){
  .fondo1{
    right:10px;
    bottom:100px;
    top:150px;
  }
  .fondo2{
    bottom:80px;
    left:-120px;
  }
}
/********************** CSS PORTATIL ****************************************/
@media(min-width:992px){
  .fondo1{
    bottom:20px;
  }
  .fondo2{
    bottom:30px;
  }
  /*CSS del button  de Bookmark*/
  #btnBookmark{
    display: inline;/*desaparece*/
  }
  .parrafo{
    text-align: left;
  }
  /*CSS de las cards*/
  .card{
    position: relative;
  }
  #card1{
    position: absolute;
    top: -40px;
  }
  #card2{
    position: absolute;
    top:-5px;
  }
  
}

@import "../node_modules/bootstrap/scss/bootstrap";