// scss-docs-start theme-color-variables
$primary: #5265E1;
$danger:  #FA5959;

.primerFondo, .segundoFondo, .arrow{
  position: relative;
}
/*CSS del badge de la primera seccion*/
.fondo1{
  position: absolute;
  bottom:10px;
  top:100px;
  right:0px;
  left:100px;
  z-index:-30;
  overflow-x: hidden;
}
/*CSS del badge de la tercera seccion*/
.fondo2{
  position: absolute;
  bottom:30px;
  top:130px;
  left:-110px;
  right:100px;
  z-index:-30;
}
/*CSS del badge*/
.primerFondo img, .segundoFondo img{
  width: 90%;
}
/*CSS del button  de Bookmark*/
#btnBookmark{
  display: none;/*desaparece*/
}
/********************** CSS TABLET ****************************************/
@media(min-width:768px){
  .fondo1{
    bottom:140px;
    right:-60px;
  }
  .fondo2{
    bottom:80px;
    left:-120px;
  }
}
@media(min-width:992px){
  .fondo1{
    bottom:20px;
  }
  .fondo2{
    bottom:30px;
  }
}

@import "../node_modules/bootstrap/scss/bootstrap";